@charset "utf-8";
/* @font-face {
    font-family: 'uzura';
    src: url('uzuraのコピー.ttf');
}

@font-face {
    font-family: 'uhu';
    src: url('fluffy-Gothicのコピー.ttf');
}

@font-face {
    font-family: 'maru';
    src: url('fluffy-Gothicのコピー.ttf');
} */


/* CSS Document */
body {
    font-family: 'Kosugi Maru', sans-serif;
    margin: 0;
    color: #313131;
}

/*****HEADER*****/
header h1 {
    position: relative;
    color: #333;
    display: inline-block;
    margin: 47px 0;
    text-shadow: 0 0 2px white;
    font-family: 'Ribeye', cursive;
    font-size: 80px;
}

header h1:before {
    content: "";
    position: absolute;
    background: #ffcce5;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 50%;
    border: dashed 1px white;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    box-shadow: 0px 0px 0px 5px #ffcce5;
}

/*****MAIN*****/
main {
    width: 100%;
}

.hello {
    font-family: 'Poor Story', cursive;
    font-size: 25px;
}

.title {
    font-family: 'Paytone One', sans-serif;
}

.sentence1 {
    line-height: 60px;
}

/*****PROFILE*****/
table {
    line-height: 30px;
}

.kawaii {
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 10px 0.5em;
    font-family: 'Poor Story', cursive;
    font-size: 25px;
}

.kawaii1 {
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    font-family: 'Handlee';
    font-size: 20px;
}

/*****INTRODUCE*****/
div.title h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 50px;
    line-height: 35px;
    padding-bottom: 5px;
    font-size: 50px;
    color: #313131;
    
}

/* div.title h2:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 70px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #313131;
    border-radius: 2.5px;
} */

.sentence {
    line-height: 30px;
}

span.color {
    background-color: pink;
    font-size: 20px;
    font-family: "Nico Moji";
}

span.color2 {
    background-color: #FDF065;
    font-size: 20px;
    font-family: "Nico Moji";
}

span.color3 {
    background-color: #72F8FC;
    font-size: 20px;
    font-family: "Nico Moji";
}

/*****MORE*****/
.hidden_box {
    margin: 2em 0;
    /*前後の余白*/
    padding-bottom: 0.5em;
}

/*ボタン装飾*/
.hidden_box label {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #333230;
    border: dashed 1px #333230;
    border-radius: 3px;
    transition: .4s;
    font-family: 'Handlee';
    font-size: 20px;
    overflow: hidden;
    transition: .1s;
}

/*ボタンホバー時*/
.hidden_box label:hover {
    background: #ccc;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked~.hidden_show {
    padding: 10px;
    padding-top: 40px;
    height: auto;
    opacity: 1;
}

.kawaii4 {
    background: #cce6ff;
    box-shadow: 0px 0px 0px 5px #cce6ff;
    border: dashed 2px white;
    padding: 0.2em 0.2em;
    margin-bottom: 0.5em;
    width: 70%;
    font-family: 'Handlee';
    font-size: 30px;
}

/*****LINKS*****/
.kawaii3 {
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 10px 0.5em;
    font-family: 'Poor Story', cursive;
    font-size: 25px;
}

.kawaii2 {
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    font-family: 'Handlee';
    font-size: 20px;
    font-weight: bolder;
}

/*****FOOTER*****/
footer {
    font-size: 80%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #313131;
}

footer small {
    color: #fdf5e6;
    letter-spacing: 5px;
    font-family: 'Handlee';
}
