@charset "utf-8";
@font-face {
  font-family: 'uzura';
  src: url('/Users/sahokondo/Library/Fonts/uzura.ttf');
}
@font-face{
    font-family: 'uhu';
    src: url('/Users/sahokondo/Library/Fonts/UtsukushiFONT.otf');
}
@font-face{
    font-family: 'maru';
    src: url('/Users/sahokondo/Library/Fonts/fluffy-Gothic.ttf');
}

/* CSS Document */

body{
font-family: uhu;
margin:0;
color:#313131;
}

/*****HEADER*****/
header h1{
  position: relative;
  color: #333;
  display: inline-block;
  margin: 47px 0;
  text-shadow: 0 0 2px white;
  font-family: 'maru';

}
header h1:before{
  content: "";
  position: absolute;
  background: #a9e1ff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50%;
  border: dashed 1px white;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: -1;
  box-shadow: 0px 0px 0px 5px #a9e1ff;
}

/*****MAIN*****/
main{
     width: 100%;
}

.hello{
    font-family: 'maru';
}

.sentence1{
    line-height: 45px;
}

.kawaii{
    background: #dfefff;
    box-shadow: 0px 0px 0px 5px #dfefff;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    font-family: 'maru';

}


div.title h2{
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}

div.title h2:before{
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 60px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
}
.sentence{
    line-height: 30px;
}

span.color{
    background-color: pink;
    font-family: 'maru';
}
span.color2{
    background-color: #FDF065;
    font-family: 'maru';
}
span.color3{
    background-color: #72F8FC;
    font-family: 'maru';
}



footer{
    font-size: 80%;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #313131;
}
footer small{
    color: #fdf5e6;
    letter-spacing: 5px;
}
